<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>Welcome B A C Sir, to Referral App</h1>
    <h1>Admin Dashboard</h1>
    <a href="/admin/logout">Logout</a>
    <a href="/admin/maintenance">Maintenance Page</a>

    <h2>Create Referral Link</h2>
    <form action="/admin/createReferral" method="POST">
      <label for="name">Client Name</label>
      <input type="text" name="name" id="name" required /><br /><br />
      <label for="phone">Client Phone</label>
      <input type="text" name="phone" id="phone" required /><br /><br />
      <label for="email">Client Email</label>
      <input type="email" name="email" id="email" required /><br /><br />
      <button type="submit">Create Referral Link</button>
    </form>

    <h2>Referral Links Created</h2>
    <ul>
      <% referrals.forEach(referral => { %>
        <details>
          <summary><%= referral.name %></summary>
          <pstyle="background: rgb(226, 226, 226); padding: 0 20px; height: 100px; text-align: center; border-radius: 15px;"><strong><%= referral.referralLink %></strong></p>
      <% }) %>
    </ul>

    <h2>Referral Form Submissions</h2>
    <% submissions.forEach(submission => { %>
    <details>
      <summary>
        <%= submission.name %> (Referred via: <%= submission.referralLink %>)
      </summary>
      <p style="background: rgb(226, 226, 226); padding: 0 20px; height: 100px; text-align: center; border-radius: 15px;">
        <strong>Name: <%= submission.name %></strong> <br />
        <strong>Email: <%= submission.email %></strong><br />
        <strong>Message: <%= submission.message %></strong>
      </p>
    </details>
    <% }) %>
  </body>
</html>
